.add-option-error {
  color: $off-white;
  font-style: italic;
  margin: $m-size 0 0 0;
  padding: 0 $m-size;
}

.add-option {
  display: flex;
  flex-direction: column;
  padding: $m-size;

  @media (min-width: $desktop-breakpoint) {
    flex-direction: row;
  }
}

.add-option__input {
  background-color: $dark-blue;
  border: none;
  border-bottom: 0.3rem solid darken($dark-blue, 10%);
  color: #FFF;
  flex-grow: 1;
  margin: 0 0 $s-size 0;
  padding: $s-size;

  @media (min-width: $desktop-breakpoint) {
    margin: $s-size;
  }
}
