// Button styles

.big-button {
  background-color: $purple;
  border: none;
  border-bottom: 0.6rem solid darken($purple, 10%);
  border-radius: 0;
  color: #FFF;
  font-weight: bold;
  font-size: $l-size;
  margin-bottom: $s-size;
  padding: 2.4rem;
  width: 100%;

  @media (min-width: $desktop-breakpoint) {
    margin-bottom: $xl-size;
  }

  &:disabled {
    opacity: 0.5;
  }
}

// Reg button
.button {
  background-color: $purple;
  border: none;
  border-bottom: .3rem solid darken($purple, 10%);
  border-radius: 0;
  color: #FFF;
  font-weight: 500;
  padding: $s-size;

  &--link {
    background-color: transparent;
    border: none;
    color: $off-white;
    padding: 0;
  }
}
