// Base styles for the app
html {
  font-size: 62.5%;
}

body {
  background-color: $dark-blue;
  font-family: Helvetica, Arial, sans-serif;
  font-size: $m-size;
}

button {
  cursor: pointer;

  &:disabled {
    cursor: default;
  }
}